<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Buscador avanzado de productos</div>
        <button mat-icon-button (click)="cancelar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <div class="flex-auto">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [formControl]="searchCtrl" [placeholder]="'Buscar producto'">
                </mat-form-field>
            </div>
        </div>

        <mat-table style="margin-top: 5px;" *ngIf="productos$ | async as productos" #table [dataSource]="dataSource"
            matSort>

            <!-- Email Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Serial
                </mat-header-cell>
                <mat-cell *matCellDef="let productos">
                    <p class="font-weight-600">
                        {{productos.serial}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Referencia
                </mat-header-cell>
                <mat-cell *matCellDef="let productos">
                    <p class="font-weight-600 uppercase">
                        {{productos.nombre_referencia}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Categoría
                </mat-header-cell>
                <mat-cell *matCellDef="let productos">
                    <p class="font-weight-600 uppercase">
                        {{productos.nombre_tipo_producto}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre_propietario">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Propietario
                </mat-header-cell>
                <mat-cell *matCellDef="let productos">
                    <p class="font-weight-600 uppercase">
                        {{productos.nombres_propietario}} {{productos.apellidos_propietario}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="detalle">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Ver detalle
                </mat-header-cell>
                <mat-cell *matCellDef="let productos">
                    <button class="min-w-10 min-h-7 h-7 px-2 ml-4" mat-stroked-button
                        (click)="verDetalleProducto(productos)">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:eye'">
                        </mat-icon>
                    </button>
                </mat-cell>

            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let productos; columns: displayedColumns;" class="unidad" matRipple
                style="cursor: pointer;" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !seleccion || seleccion.id !== productos.id,
            'bg-primary-100 dark:bg-hover': seleccion && seleccion.id === productos.id}"
                (click)="selectProducto(productos)">
            </mat-row>

        </mat-table>

        <div *ngIf="dataSource.filteredData.length === 0">
            <h2 class="headline m-0 text-center">No existen productos</h2>
        </div>

        <mat-paginator [pageSize]="5" [length]="cantidad">
        </mat-paginator>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">


            <div class="-ml-2">

            </div>

            <div class="flex items-center mt-4 sm:mt-0">

            </div>
        </div>

    </form>
</div>