<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Buscador de repuestos</div>
        <button mat-icon-button (click)="cancelar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
            <!-- Search -->
            <div class="flex-auto">
                <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded w-full min-w-50">
                    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:search'"></mat-icon>
                    <input matInput [placeholder]="'Buscar repuesto'" (keydown.enter)="applyFilter($event.target.value);">
                </mat-form-field>
            </div>
        </div>

        <mat-table style="margin-top: 5px;" *ngIf="repuestoPaginator$ | async as repuestos" #table
            [dataSource]="listadoRepuestos" matSort>

            <!-- Email Column -->
            <ng-container matColumnDef="material">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Referencia interna
                </mat-header-cell>
                <mat-cell *matCellDef="let repuesto">
                    <p class="font-weight-600 uppercase">
                        {{repuesto.material}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="pieza_fabricante">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pieza Fabricante
                </mat-header-cell>
                <mat-cell *matCellDef="let repuesto">
                    <p class="font-weight-600 uppercase">
                        {{repuesto.pieza_fabricante}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre
                </mat-header-cell>
                <mat-cell *matCellDef="let repuesto">
                    <p class="font-weight-600 uppercase">
                        {{repuesto.nombre}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descripcion">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción
                </mat-header-cell>
                <mat-cell *matCellDef="let repuesto">
                    <p class="font-weight-600 uppercase">
                        {{repuesto.descripcion}}
                    </p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="marca">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Marca
                </mat-header-cell>
                <mat-cell *matCellDef="let repuesto">
                    <p class="font-weight-600 uppercase">
                        {{repuesto.nombre_marca}}
                    </p>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

            <mat-row *matRowDef="let repuesto; columns: displayedColumns;" class="unidad" matRipple
                style="cursor: pointer;" [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !seleccion || seleccion.id !== repuesto.id,
            'bg-primary-100 dark:bg-hover': seleccion && seleccion.id === repuesto.id}"
                (click)="selectRepuesto(repuesto)">
            </mat-row>

        </mat-table>

        <div *ngIf="listadoRepuestos.length === 0">
            <h2 class="headline m-0 text-center">No existen repuestos</h2>
        </div>

        <mat-paginator style="float: right !important;" [pageSize]="pageSizeInit" [length]="cantidad"
            (page)="mostrarMas($event)" [showFirstLastButtons]="true"></mat-paginator>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">


            <div class="-ml-2">

            </div>

            <div class="flex items-center mt-4 sm:mt-0">
                <button class="sm:mx-3" mat-stroked-button style="display: none !important;">
                    <span>PreventClose</span>
                </button>
                <button class="sm:mx-3" mat-stroked-button (click)="matDialogRef.close()">
                    <span>Cancelar</span>
                </button>
                <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                    (click)="matDialogRef.close(['accept',seleccion])">
                    Aceptar
                </button>
            </div>
        </div>

    </form>
</div>