<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
            [disableClose]="true" #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Breadcrumbs -->
                    <div>
                        <div class="hidden sm:flex flex-wrap items-center font-medium">
                            <div>
                                <a class="whitespace-nowrap text-primary-500" style="cursor: pointer;"
                                    [routerLink]="['/inicio']">Inicio</a>
                            </div>
                            <div class="flex items-center ml-1 whitespace-nowrap">
                                <mat-icon class="icon-size-5 text-secondary"
                                    [svgIcon]="'heroicons_solid:chevron-right'">
                                </mat-icon>
                                <span class="ml-1 text-secondary">Reporte de repuestos activos por
                                    importador</span>
                            </div>
                        </div>
                        <div class="flex sm:hidden">
                            <a class="inline-flex items-center -ml-1.5 text-secondary font-medium"
                                [routerLink]="'/admin-ifec'">
                                <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-left'">
                                </mat-icon>
                                <span class="ml-1">Volver</span>
                            </a>
                        </div>
                    </div>

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Reporte de repuestos activos
                            por importador</div>
                    </div>
                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <form [formGroup]="form">
                                <div class="grid sm:grid-cols-6 gap-6 w-full">

                                    

                                    

                                    <div class="sm:col-span-1">
                                        <mat-form-field class="fuse-mat-no-subscript w-full">
                                            <mat-label>Importador</mat-label>
                                            <input matInput [formControlName]="'nombre_importador'" [spellcheck]="false"
                                                readonly>
                                            <button mat-icon-button (click)="openBuscadorImportador()" matSuffix
                                                *ngIf="puedeSeleccionarImportador">
                                                <mat-icon class="icon-size-5 ml-2" [svgIcon]="'heroicons_solid:search'">
                                                </mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>

                                    <div class="sm:col-span-1 mt-6">
                                        <button class="ml-2" mat-flat-button [color]="'primary'"
                                            (click)="consultarData()" [disabled]="form.invalid">
                                            <mat-icon [svgIcon]="'heroicons_outline:search'"></mat-icon>
                                        </button>
                                        <button class="ml-2" mat-flat-button [color]="'primary'" (click)="exportar()"
                                            *ngIf="dataCount > 0" [disabled]="form.invalid">
                                            <mat-icon [svgIcon]="'heroicons_outline:download'"></mat-icon>
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- usuarios list -->
                <div class="relative">
                    <div class="overflow-x-auto">

                        <ng-container *ngIf="dataPaginator$ | async as data">
                            <ng-container *ngIf="dataCount > 0; else noData">
                                <div class="overflow-x-auto mx-6">
                                    <table class="w-full bg-transparent" mat-table matSort [dataSource]="dataSource"
                                        [trackBy]="trackByFn" #table>

                                        <!-- name -->
                                        <ng-container matColumnDef="material">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Material
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.material}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="pieza_fabricante">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Pieza Fabricante
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.pieza_fabricante}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="nombre">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Nombre
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.nombre}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="descripcion">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                descripcion
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.descripcion}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="marca">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Marca
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.marca}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="referencia">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Referencia
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.referencia}}
                                                </span>
                                            </td>
                                        </ng-container>

                                      


                                        <ng-container matColumnDef="categoria">
                                            <th mat-header-cell mat-sort-header *matHeaderCellDef>
                                                Categoria
                                            </th>
                                            <td mat-cell *matCellDef="let transaction">
                                                <span class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                                    {{transaction.categoria}}
                                                </span>
                                            </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="tableColumns" style="cursor: pointer;">
                                        </tr>
                                        <tr style="cursor: pointer;"
                                            class="order-row h-16 hover:bg-hover cursor-pointer" mat-row
                                            *matRowDef="let row; columns: tableColumns;"
                                            [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedData || selectedData.id !== row.id,
                                            'bg-primary-100 dark:bg-hover': selectedData && selectedData.id === row.id}"></tr>
                                    </table>



                                    <mat-paginator style="float: right;" [pageSize]="pageSizeInit" [length]="dataCount"
                                        (page)="mostrarMas($event)" [showFirstLastButtons]="true"></mat-paginator>
                                </div>

                            </ng-container>
                        </ng-container>

                        <div *ngIf="dataSource.filteredData.length === 0" fxFlex="auto" fxLayout="column"
                            fxLayoutAlign="center center">
                            <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">
                                No
                                existen registros</div>
                        </div>

                    </div>

                </div>


            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
