<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Cambiar contraseña</div>
        <button mat-icon-button (click)="cancelar()" [tabIndex]="-1">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <form [formGroup]="passwordForm" class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto">

        <!-- Name -->
        <div>
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Contraseña</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:lock-closed'">
                </mat-icon>
                <input matInput [formControlName]="'password'" type="password" required>
            </mat-form-field>
        </div>

        <!-- Company -->
        <div class="mt-4">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Repetir contraseña</mat-label>
                <mat-icon matPrefix class="hidden sm:flex icon-size-5" [svgIcon]="'heroicons_solid:lock-closed'">
                </mat-icon>
                <input matInput [formControlName]="'rePassword'" type="password" required>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between mt-4 sm:mt-6">


            <div class="-ml-2">

            </div>

            <div class="flex items-center mt-4 sm:mt-0">
                <button class="sm:mx-3" mat-stroked-button (click)="cancelar()">
                    <span>Cerrar</span>
                </button>
                <button class="order-first sm:order-last" mat-flat-button [color]="'primary'"
                    (click)="cambiarPassword()" [disabled]="passwordForm.invalid">
                    Aceptar
                </button>
            </div>
        </div>

    </form>
</div>